import(graphics,glmnet,mboost,jointDiag)
export(ICP,hiddenICP,feedbackNetwork)
S3method(summary,InvariantCausalPrediction)
S3method(plot, InvariantCausalPrediction)
S3method(print, InvariantCausalPrediction)
